body{
    background-color: #faab36;
}

h1{
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.playground{
    width: 550px;
    height: 550px;
    background-color: #1e65a7;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
button{
    margin: 0 auto;
}

.square{
    border: 2px outset #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.active{
    background-color: #249c9e;
    border: 4px outset #249c9e;
}

.bomb{
    background-color: red;
    border: 4.5px outset #000000;

}

.ombra-icon{
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}